 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 body, html {
  overflow-x: hidden;
  font-family:inter;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}