/* src/new.css */
:root {
  --background-light: #F0EEE6;
  --text-light: #3D3D3A  ;
  --header-bg-light: #E3DACC;
  --card-bg-light: #FFF;
  --card-name-light: #222;
  --card-roll-light: #717171;
  --primary-color: #D97757;
  --search-border-light: #e1e5e9;
  --bottom-sheet-bg-light: #F0EEE6;
  --bottom-sheet-header-bg-light: #F0EEE6;
  --bottom-sheet-btn-bg-light: #E3DACC;
  --bottom-sheet-btn-color-light: #555;
  --social-btn-bg-light: #F0EEE6;
  --social-btn-border-light: rgba(217, 119, 87, 0.2);
  --social-btn-color-light: #222;
}

[data-theme='dark'] {
  --background-dark: #262624;
  --text-dark: #C2C0B6;
  --header-bg-dark: #1E1E1E;
  --card-bg-dark: #2C2C2C;
  --card-name-dark: #FFF;
  --card-roll-dark: #A0A0A0;
  --search-border-dark: #555;
  --bottom-sheet-bg-dark: #1E1E1E;
  --bottom-sheet-header-bg-dark: #1E1E1E;
  --bottom-sheet-btn-bg-dark: #333;
  --bottom-sheet-btn-color-dark: #FFF;
  --social-btn-bg-dark: #2C2C2C;
  --social-btn-border-dark: rgba(217, 119, 87, 0.5);
  --social-btn-color-dark: #FFF;
}
